
.a{
  display:flex;
  justify-content:space-between;
  color:black;
  border:2px solid lightblue;
  width:200px;
  height:65px;
  
}

.b{
  width:65px;
  height:50px;
  text-align: center;
  line-height:50px;
  border-radius:30%;
  background: lightgray;
  cursor:pointer;
  margin:5px;

}
.reset{
  cursor:pointer;
}
